@font-face {
    font-family: Bright;
    src: url(font/Bright\ DEMO.otf);
}

@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-VariableFont_wght.ttf);
}

#logo {
    margin: 0.2%;
    padding: 1.5%;
}

body {
    background-image: url(../imgs/ACADBD16-702D-4A08-807D-36D215C29134.JPEG);
    background-size: cover;
}

#nav {
    background-color: #f3abb3;
    margin: 1%;
    box-shadow: 5px 5px #ed8495;
    border-radius: 20px;
    text-shadow: 2px 2px #f6c4ca;
}

#navbar {
    list-style: none;
    font-size: large;
    margin-right: 20px;
}

.nav-items {
    display: inline;
    padding: 10px;
}

#topnav {
    overflow: hidden;
}

#nav {
    float: right;
}

.nav-items:hover {
    background-color: #f7c7cd;
    color: white;
}

.active {
    color: white;
}

a   {
    text-decoration: none;
    font-family: Montserrat;
    color: #ed8495;


}

.main-stuff {
    font-family: Montserrat;
    background-color: #f3b5bd;
    color: white;
    margin: 2%;
    margin-left: 30%;
    float: left;
    padding-right: 1%;
    animation: fadeIn 3s;
    box-shadow: 5px 5px #ed8495;
    border-radius: 20px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#title_ {
    text-align: center;
    margin-bottom: -3%;
    margin-top: 5%;
}

.contact-form {
    padding: 10%;
    text-align: center;
}

.contact-form .form-control {
height: 43px;
border-radius: 0px;
margin-bottom: 20px;
border: 0px solid #f3b5bd;
border-radius: 20px;
box-shadow: 5px 5px #ed8495;
}

input::placeholder {
    padding-left: 5%;
}

textarea::placeholder {
    padding-left: 5%;
    padding-top: 5%;
}

.contact-form #message{
    height: 104px;
    width: auto;
}

.form_submit{
    width: 45%;
    font-family: Montserrat;
    font-weight: 550;
    text-decoration: none;
    background-color: white;
    color: #f3abb3;
    border: #ed8495 1px solid;
    padding: 0.5%;
    margin-top: 2%;
    border-radius: 20px;
    box-shadow: 0 9px #ed8495;
}

.form_submit:active {
    background-color: #f3b5bd;
    box-shadow: 0 5px #ed8495;
    transform: translateY(4px);
    color: white;
}


input, textarea, button {
    font-size: medium;
}

.btn {
    text-align: center;
}

#name, #email, #subject {
    width: 70%;
}