@font-face {
    font-family: Bright;
    src: url(font/Bright\ DEMO.otf);
}

@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-VariableFont_wght.ttf);
}

#logo {
    margin: 0.2%;
    padding: 1.5%;
}

body {
    background-image: url(../imgs/ACADBD16-702D-4A08-807D-36D215C29134.JPEG);
    background-size: cover;
}

#nav {
    background-color: #94acdb;
    text-align: center;
}

#navbar {
    list-style: none;
    font-size: large;
    margin-right: 20px;
    margin-top: 10%;
}

.nav-items {
    display: inline;
}

#topnav {
    overflow: hidden;
}

#nav {
    float: right;
}

li:hover {
    background-color: #94afe6;
    color: #94acdb;
}

li.active {
    background-color: rgb(133, 159, 215);
    color: #94acdb;
}

li {
    padding: 10px;
    border-radius: 15%;
    color: whte;
}

a   {
    text-decoration: none;
    color: white;
    font-family: Grotley;
}

section {
    background-color: white;
    border-radius: 2%;
}

h3 {
    padding-top: 2%;
    padding-left: 2%;

}

p {
    padding-left: 2%;
    padding-bottom: 2%;
}