body {
    background-image: url(../imgs/ACADBD16-702D-4A08-807D-36D215C29134.JPEG);
    background-size: cover;
}

@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Bright;
    src: url(font/Bright\ DEMO.otf);
}

.container {
    text-align: center;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
}

#intro {
    font-family: Montserrat;
    margin-top: 14%;
    text-shadow: 1px 1px #ed8495;
    color: #f3abb3;

}

#name {
    font-family: Bright;
    text-shadow: 2px 2px #ed8495;
    color: #f3abb3;
    margin-top: -2%;
    margin-bottom: -2%;
}

#job {
    font-family: Montserrat;
    text-shadow: 1px 1px #ed8495;
    color: #f3abb3;
}

@media screen and (min-width: 320px) {
    body {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    #intro {
        font-size: max(4vw);
    }
    #name {
        font-size: max(7vw);
    }
    #job {
        font-size: max(2vw);
    }
  }
  @media screen and (min-width: 1000px) {
    body {
      font-size: 22px;
    }
  }

  #link {
    font-family: Montserrat;
    font-weight: 550;
    text-decoration: none;
    background-color: #efe3e5;
    color: #f3abb3;
    border: #ed8495 1px solid;
    padding: 0.5%;
    margin-top: 2%;
    border-radius: 20px;
    box-shadow: 0 9px #ed8495;
  }

  #link:active {
    background-color: #f3b5bd;
    box-shadow: 0 5px #ed8495;
    transform: translateY(4px);
  }

  .typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #f3abb3; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f3abb3; }
  }