@font-face {
    font-family: Bright;
    src: url(font/Bright\ DEMO.otf);
}

@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat-VariableFont_wght.ttf);
}

#logo {
    margin: 0.2%;
    padding: 1.5%;
}

body {
    background-image: url(../imgs/ACADBD16-702D-4A08-807D-36D215C29134.JPEG);
    background-size: cover;
}

#nav {
    background-color: #f3abb3;
    margin: 1%;
    box-shadow: 5px 5px #ed8495;
    border-radius: 20px;
    text-shadow: 2px 2px #f6c4ca;
}

#navbar {
    list-style: none;
    font-size: large;
    margin-right: 20px;
}

.nav-items {
    display: inline;
    padding: 10px;
}

#topnav {
    overflow: hidden;
}

#nav {
    float: right;
}

.nav-items:hover {
    background-color: #f7c7cd;
    color: white;
}

.active {
    color: white;
}

a   {
    text-decoration: none;
    font-family: Montserrat;
    color: #ed8495;
}

section {
    margin-left: 20%;
}

.main-stuff {
    font-family: Montserrat;
    background-color: #f3b5bd;
    color: white;
    text-align: center;
    margin: 2%;
    float: left;
    animation: fadeIn 3s;
    box-shadow: 5px 5px #ed8495;
    border-radius: 20px;
    max-width: 70%;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

p {
    font-weight: 500;
    text-align: start;
}

.haha {
    max-width: inherit;
    height: auto;
}

.title_ {
    text-shadow: 2px 2px #ed8495;
}

.desc {
    padding: 0 3% 3% 3%;
}

#menu_ {
    margin-bottom: -4%;
}